<div class="problem-bar" id="problem-bar-<%= problem.id %>">
  <% if @page_reload_when_view_problem %>
    <a href="<%= url_for :action => 'list', :id => problem.id %>">
  <% else %>
    <a href="#"
       onclick="$$('.problem-panel').each(function(elt) {elt.hide();});  $('problem-panel-<%= problem.id %>').show(); $('problem-panel-filler').hide(); return false;">
  <% end %>
    <span class="problem-title">
      <%= problem.full_name %>
      <% if @prob_submissions[problem_title_counter][:count] > 0 %>
        [<%= @prob_submissions[problem_title_counter][:count] %> trials(s)]
      <% else %>
        [No trials]
      <% end %>
    </span>
  </a>
</div>
