%tr
  %td
    - if @current_user and @current_user.admin?
      = link_to problem.name, stat_problem_path(problem)
    - else
      = "#{problem.name}"
  %td
    = "#{problem.full_name}"

    %br
    = link_to_description_if_any "[#{t 'main.problem_desc'}] <span class='glyphicon glyphicon-file'></span>".html_safe, problem
  %td
    = @prob_submissions[problem.id][:count]
    -#= link_to "[subs]", main_submission_path(problem.id)
  %td
    = render :partial => 'submission_short',
      :locals => {:submission => @prob_submissions[problem.id][:submission], :problem_name => problem.name, :problem_id => problem.id }
  %td
    - if @prob_submissions[problem.id][:submission]
      = link_to 'Edit', edit_submission_path(@prob_submissions[problem.id][:submission]), class: 'btn btn-success'
    - else
      = link_to 'New', direct_edit_problem_submissions_path(problem.id), class: 'btn btn-success'
