<tr class="info-<%= (problem_counter%2==0) ? "even" : "odd" %>">
  <td>
    <%= "#{problem_counter+1}" %>
  </td>
  <td>
    <%= "#{problem.full_name} (#{problem.name})" %>
    <%= link_to "[#{t 'main.problem_desc'}]", problem.url, :popup => true if (problem.url!=nil) and (problem.url!='') %>
  </td>
  <td align="center">
    <%= @prob_submissions[problem_counter][:count] %>
  </td>
  <td>
    <span id="problem-form-<%= problem.id %>">
      <% form_tag "new_input/#{problem.id}", :method => :post do -%>
	<input type="submit" value="New input"/>
      <% end -%>
      <% form_tag "download/#{problem.id}", :method => :post do -%>
        <input type="submit" value="Download input"/>
      <% end -%>
      <% form_tag "submit_solution/#{problem.id}", :method => :post do -%>
	<input type="file">
	<input type="submit" value="Submit solution"/>
      <% end -%>
    </span>
  </td>
</tr>
