= form_tag({:action => 'submit'}, :multipart => true, class: 'form-inline') do
  - if @submission and @submission.errors.any?
    #error_explanation
      .alert.alert-danger
        %h3= "#{pluralize(@submission.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @submission.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = label_tag :submission, 'Problem:'
    = select 'submission', 'problem_id', [[(t 'main.specified_in_header'),'-1']] + @problems.collect {|p| ["[#{p.name}] #{p.full_name}", p.id]}, {:selected => '-1'}, { class: 'select2 form-control' }
  .form-group
    = label_tag :file, 'File:'
    .input-group
      %span.input-group-btn
        %span.btn.btn-default.btn-file
          Browse
          = file_field_tag 'file'
      = text_field_tag '' , nil, {readonly: true, class: 'form-control'}
  = submit_tag 'Submit', class: 'btn btn-default'
