.row
  -# Left pane: (Contest Card, Submission Card and problem list)
  .col-lg-8
    - if (GraderConfiguration.contest_mode?)
      .mb-4
        = render 'contest_box'
    - if GraderConfiguration.show_submitbox_to?(@user)
      .mb-4
        = render 'submission_box'
    - if GraderConfiguration.show_tasks_to?(@user)
      .mb-4
        = render partial: 'problem_list', locals: {problems: @problems, groups: @groups}
  -# right pane (Announcements)
  .col-lg-4
    .d-flex.justify-content-between.align-items-center.mb-4.px-2{"data-controller" => "init-ui-component"}
      %h6.fw-bold.text-uppercase.text-secondary.mb-0 Announcements
      - if is_admin
        = link_to announcements_path, class: 'btn btn-sm bg-white shadow-sm border-0 text-secondary ms-2 d-inline-flex align-items-center justify-content-center', 'data-bs-toggle' => 'tooltip', title: 'Manage Announcements' do
          %span.mi{style: 'font-size: 1.2rem;'} settings
    .announcements-feed
      = render :partial => 'announcement', :collection => @announcements

:javascript
  function filter_tag() {
    let selected_tag = $('#filter-tag :selected').val()
    table.column(5).search(selected_tag).draw()
  }

  window.addEventListener("load", function() {
    table = $("#main_table").DataTable({
      columnDefs: [
        { targets: [3,4], sortable: false }, // latest result & action
        { targets: [5], visible: false }, // hidden tags column
      ],
      paging: false,
      responsive: true,
      layout: {
        topStart: () => {
          let element = document.createElement('div');
          element.className = 'row'
          element.innerHTML = '<div class="col-auto"><label class="cl-form-label"> <span class="text-nowrap">Topic Filter:</span> </label></div>' +
            '<div class="col-auto"><select id="filter-tag" class="form-select form-select-sm select2" onchange="filter_tag()">' +
            '<option value=""> -- All --</option>' +
            '#{j options_from_collection_for_select(Tag.where(public: true),:name,:name)}' +
            '</select></div>'
          return element;

        },
        topStart: 'info',
        topEnd: 'search'

      }
      //dom: "<'row'<'#prob-group.col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
      //  "<'row'<'col-sm-12'tr>>" +
      //  "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    })

    $("#contest-table").DataTable({
      paging: false,
      responsive: true,
      columnDefs: [
        { targets: [3], sortable: false }, // latest result & action
      ],
      layout: {
        topStart: null,
        topEnd: null,
        bottomStart: null,
      }
    })

  });

