- content_for :head do
  = javascript_include_tag "announcement_refresh"

= user_title_bar(@user)

- if (GraderConfiguration.contest_mode?) and (@user.site!=nil) and (@user.site.started!=true)
  %p=t 'main.start_soon'

.row
  .col-md-7
    - if GraderConfiguration.show_submitbox_to?(@user)
      .submitbox
        = render :partial => 'submission_box'
    - if GraderConfiguration.show_tasks_to?(@user)
      - if not GraderConfiguration.multicontests?
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Task name
              %th Full name
              %th # of sub(s)
              %th Results
              %th
          %tbody
            = render :partial => 'problem', :collection => @problems
      - else
        - @contest_problems.each do |cp|
          - if cp[:problems].length > 0
            %h2{:class =>'contest-title'}
              = "#{cp[:contest] ? cp[:contest].title : 'Public problems'}"
            %table.info
              %tr.info-head
                %th Task name
                %th Full name
                %th # of sub(s)
                %th Results
                %th
              = render :partial => 'problem', :collection => cp[:problems]
  .col-md-5
    .panel.panel-info
      .panel-heading
        Announcement
      %ul.list-group
        = render :partial => 'announcement', :collection => @announcements



%hr/



%hr/

%script{:type => 'text/javascript'}
  = "Announcement.refreshUrl = '#{url_for :controller => 'main', :action => 'announcements'}';"
  Announcement.registerRefreshEventTimer();

