= user_title_bar(@user)

.task-menu
  Task List
  %br/
  - @problems.each do |problem| 
    = link_to problem.name, :action => 'submission', :id => problem.name

- if @problem!=nil
  %h2= "Task: #{@problem.full_name} (#{@problem.name})"

- if @submissions!=nil
  - if @submissions.length>0
    %table.info
      %tr.info-head
        %th.info #
        %th.info At
        %th.info Source
        %th.info Result
        %th.info{:width => "300px"} 
          Compiler message
      = render :partial => 'submission', :collection => @submissions
  - else
    No submission
