<h1>Editing announcement</h1>

<%= error_messages_for :announcement %>

<% form_for(@announcement) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>

  <p>
    <b>Published</b><br />
    <%= f.check_box :published %>
  </p>

  <p>
    <b>Show on front page?</b><br />
    <%= f.check_box :frontpage %>
  </p>

  <p>
    <b>Show only in contest?</b><br />
    <%= f.check_box :contest_only %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @announcement %> |
<%= link_to 'Back', announcements_path %>
