<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<h1>Listing announcements</h1>

<%= link_to 'New announcement', new_announcement_path %>

<table class="info">
  <tr class="info-head">
    <th>Updated</th>
    <th>Announcement</th>
    <th>Author</th>
    <th>Published</th>  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for announcement in @announcements %>
  <tr class="info-<%= cycle 'odd', 'even' %>">
    <% @announcement = announcement %>
    <td><%= time_ago_in_words announcement.updated_at %></td>
    <td>
      <% if !announcement.title.blank? %>
        <b>Title:</b> <%=h announcement.title %><br/>
      <% end %>
      <% if !announcement.notes.blank? %>
        <b>Notes: <%=h announcement.notes %></b><br/>
      <% end %>
      <%=h announcement.body %>
    </td>
    <td><%=h announcement.author %></td>
    <td><%= in_place_editor_field :announcement, :published, {}, :rows => 1 %></td>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New announcement', new_announcement_path %>
