<p>
  <b>Author:</b>
  <%=h @announcement.author %>
</p>

<p>
  <b>Title:</b>
  <%=h @announcement.title %>
</p>

<p>
  <b>Notes:</b>
  <%=h @announcement.notes %>
</p>

<p>
  <b>Body:</b>
  <%=h @announcement.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @announcement.published %>
</p>

<p>
  <b>Show on front page:</b>
  <%=h @announcement.frontpage %>
</p>

<p>
  <b>Show only in contest:</b>
  <%=h @announcement.contest_only %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
