<tr class="name">
  <td>
    <a name="<%= problem.name %>"></a>
    <%= "#{problem.full_name} (#{problem.name})" %>
  </td>
</tr>
<tr>
  <% td_class = (problem_counter%2==0) ? "desc-even" : "desc-odd" %>
  <td class="<%= td_class %>">
  <% if problem.description!=nil %>
    <% if problem.description.markdowned %>
<%= markdown(problem.description.body) %>
    <% else %>
<pre>
<%= problem.description.body %>
</pre>
    <% end %>
  <% else %>
    (not available)
  <% end %>
  </td>
</tr>
