= user_title_bar(@user)

.task-menu
  %b Task Listing:

  - @problems.each do |problem|
    - if problem.body!=nil
      %a{:href => "\##{problem.name}"}= "[#{problem.full_name}]"
    - else
      = "[#{problem.full_name}]"

= render :partial => 'problem', :collection => @problems
