<%= user_title_bar(@user) %>

<div class="task-menu">
  <b>Task Listing:</b>

  <% @problems.each do |problem| %>
    <% if problem.description!=nil %>
      <a href="#<%= problem.name %>"><%= "[#{problem.full_name}]" %></a>
    <% else %>
      <%= "[#{problem.full_name}]" %>
    <% end %>
  <% end %>
</div>

<table class="taskdesc">

  <tr class="name">
    <td>
      Overview
    </td>
  </tr>
  <tr>
    <td class="desc-odd">
      <p>
        <strong>Cover:</strong>
        <a href="/tasks/view/cover-en.pdf">Official English</a>&nbsp;&nbsp;
	<a href="/tasks/view/cover-id.pdf">Indonesia</a>&nbsp;&nbsp;
	<a href="/tasks/view/cover-jp.pdf">Japan</a>&nbsp;&nbsp;
	<a href="/tasks/view/cover-kr.pdf">Korea</a>&nbsp;&nbsp;
	<a href="/tasks/view/cover-th.pdf">Thailand</a>&nbsp;&nbsp;</p>
      </p>
      <p>
        <strong>Descriptions of all tasks:</strong>
	<a href="/tasks/view/apio2008-cn.pdf">China</a>&nbsp;&nbsp;
	<a href="/tasks/view/apio2008-jp.pdf">Japan</a><br/>

  	<strong>Beads:</strong>
	<a href="/tasks/view/beads-en.pdf">Official English</a>&nbsp;&nbsp;
	<a href="/tasks/view/apio2008-cn.pdf">China (all tasks)</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-tw.pdf">Chinese Taipei</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-id.pdf">Indonesia</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-jp.pdf">Japan</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-kr.pdf">Korea</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-mo.pdf">Macao, China</a>&nbsp;&nbsp;
	<a href="/tasks/view/beads-th.pdf">Thailand</a><br/>

	<strong>Roads:</strong>
	<a href="/tasks/view/roads-en.pdf">Official English</a>&nbsp;&nbsp;
	<a href="/tasks/view/apio2008-cn.pdf">China (all tasks)</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-tw.pdf">Chinese Taipei</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-id.pdf">Indonesia</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-jp.pdf">Japan</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-kr.pdf">Korea</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-mo.pdf">Macao, China</a>&nbsp;&nbsp;
	<a href="/tasks/view/roads-th.pdf">Thailand</a><br/>

	<strong>DNA:</strong>
	<a href="/tasks/view/dna-en.pdf">Official English</a>&nbsp;&nbsp;
	<a href="/tasks/view/apio2008-cn.pdf">China (all tasks)</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-tw.pdf">Chinese Taipei</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-id.pdf">Indonesia</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-jp.pdf">Japan</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-kr.pdf">Korea</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-mo.pdf">Macao, China</a>&nbsp;&nbsp;
	<a href="/tasks/view/dna-th.pdf">Thailand</a>
      </p>

      <p> <b>Test data</b> for all tasks: 
        <a href="/files/testdata/all.zip">.zip</a>
        <a href="/files/testdata/all.tgz">.tgz</a><br/>
        <b>Beads:</b>
        <a href="/files/testdata/beads.zip">.zip</a>
        <a href="/files/testdata/beads.tgz">.tgz</a>&nbsp;&nbsp;
        <b>Roads:</b>
        <a href="/files/testdata/roads.zip">.zip</a>
        <a href="/files/testdata/roads.tgz">.tgz</a>&nbsp;&nbsp;
        <b>DNA:</b>
        <a href="/files/testdata/dna.zip">.zip</a>
        <a href="/files/testdata/dna.tgz">.tgz</a><br/>
        <b>Notes:</b><br/>
        &nbsp;&nbsp;<i>Beads.</i> The zip files contain the testing library that also outputs some magic numbers to verify the correct usage of the library.  Files <tt>questions-*.txt</tt> are also prefixed with fake data.<br/>
        &nbsp;&nbsp;<i>Roads.</i> The zip files contain <tt>verify.cpp</tt> that checks the output.
      </p>
    </td>
  </tr>

<%= render :partial => 'problem', :collection => @problems %>
</table>
