
%td= grader.host
%td= grader.pid
%td= grader.mode
%td= grader.updated_at.strftime("%H:%M:%S") if grader.updated_at
%td= grader.task_type
%td
  - unless grader.task_id
    idle
  - else
    = link_to "#{grader.task_id}", :action => 'view', :id => grader.task_id, :type => grader.task_type
