- content_for :head do
  = stylesheet_link_tag 'graders'

%h2 (Under Experiments)

- form_for :clear, nil, :url => {:action => 'clear_all'} do |f|
  = submit_tag 'Clear all data'

Last task:
= link_to "#{@last_task.id}", :action => 'view', :id => @last_task.id, :type => 'Task'

%br/

Last test_request:
= link_to "#{@last_test_request.id}", :action => 'view', :id => @last_test_request.id, :type => 'TestRequest'


%h3 Current graders

= render :partial => 'grader_list', :locals => {:grader_list => @grader_processes}

%h3 Stalled graders

= render :partial => 'grader_list', :locals => {:grader_list => @stalled_processes}
