%style{type: "text/css"}
  = @css_style

%h1= "Submission: #{@submission.id}"

%p
  User:
  = "(#{@submission.user.login}) #{@submission.user.full_name}"
  %br/
  Problem: 
  - if @submission.problem!=nil
    = "#{@submission.problem.full_name}"
  - else
    = "(n/a)"
  %br/
  = "Number: #{@submission.number}"
  %br/
  = "Submitted at: #{format_short_time(@submission.submitted_at)}"
  %br/
  = "Points : #{@submission.points}/#{@submission.problem.full_score}"
  %br/
  = "Comment : #{@submission.grader_comment}"

%b Source code (first 10kb)
//%div.highlight{:style => "border: 1px solid black;"}
=@formatted_code.html_safe

