%style{type: "text/css"}
  = @css_style

%h1= "Submission: #{@submission.id}"

%p
  User:
  = "(#{@submission.user.login}) #{@submission.user.full_name}"
  %br/
  Problem: 
  - if @submission.problem!=nil
    = "(#{@submission.problem.name}) #{@submission.problem.full_name}"
  - else
    = "(n/a)"
  %br/
  = "Number: #{@submission.number}"
  %br/
  = "Submitted: #{time_ago_in_words(@submission.submitted_at)} ago (at #{@submission.submitted_at.to_formatted_s(:long)})"
  %br/
  = "Points: #{@submission.points}/#{@submission.problem.full_score}"
  %br/
  = "Comment: #{@submission.grader_comment}"
  %br/
  = "Runtime (s): #{@submission.max_runtime}"
  %br/
  = "Memory (kb): #{number_with_delimiter(@submission.peak_memory)}"

%b Source code (first 10kb)
//%div.highlight{:style => "border: 1px solid black;"}
=@formatted_code.html_safe

