%h1= "Task: #{@task.id}"

%p
  User:
  = "#{@task.submission.user.login}"
  %br/
  Status: 
  = "#{@task.status_str} (at #{format_short_time(@task.updated_at)})"
  %br/
  = "Submission: #{@task.submission_id}"
  - if @task.submission !=nil
    = link_to '[view submission]', submission_path( @task.submission.id )
  %br/
  = "Submitted at: #{format_short_time(@task.created_at)}"
  %br/
