/- content_for :header do
/  = javascript_include_tag 'local_jquery'

%h1 System configuration

%table.info
  %tr.info-head
    %th Key
    %th Type
    %th Value
    %th Description
  - @configurations.each do |conf|
    - @grader_configuration = conf
    %tr{:class => cycle("info-odd", "info-even")}
      %td
        /= in_place_editor_field :grader_configuration, :key, {}, :rows=>1
        = @grader_configuration.key
      %td
        /= in_place_editor_field :grader_configuration, :value_type, {}, :rows=>1
        = @grader_configuration.value_type
      %td
        = best_in_place @grader_configuration, :value, ok_button: "ok", cancel_button: "cancel"
      %td= conf.description

- if GraderConfiguration.config_cached?
  %br/
  Your config is saved, but it does not automatically take effect.
  %br/
  If you have one mongrel process running, you can
  = link_to '[click]', :action => 'reload'
  here to reload.
  %br/
  If you have more than one process running, you should restart 
  them manually.
