- content_for :head do
  = javascript_include_tag :defaults

%h1 System configuration

%table.info
  %tr.info-head
    %th Key
    %th Type
    %th Value
    %th Description
  - @configurations.each do |conf|
    - @configuration = conf
    %tr{:class => cycle("info-odd", "info-even")}
      %td
        = in_place_editor_field :configuration, :key, {}, :rows=>1
      %td
        = in_place_editor_field :configuration, :value_type, {}, :rows=>1
      %td
        = in_place_editor_field :configuration, :value, {}, :rows=>1
      %td= conf.description

- if Configuration.config_cached?
  %br/
  Your config is saved, but it does not automatically take effect.
  %br/
  If you have one mongrel process running, you can
  = link_to '[click]', :action => 'reload'
  here to reload.
  %br/
  If you have more than one process running, you should restart 
  them manually.
