<h1>Editing contest</h1>

<%= form_for(@contest) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td></td>
      <td>
	<%= f.check_box :enabled %>
	<%= f.label :enabled %>
      </td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contest %> |
<%= link_to 'Back', contests_path %>
