<h1>Listing contests</h1>

<div class="infobox">
  <b>Go back to:</b> [<%= link_to 'contest management', :controller => 'contest_management', :action => 'index' %>]
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Enabled</th> 
  </tr>

<% @contests.each do |contest| %>
  <% @contest = contest %>
  <tr>
    <td><%= in_place_editor_field :contest, :name, {}, :rows => 1 %></td>
    <td><%= in_place_editor_field :contest, :title, {}, :rows => 1 %></td>
    <td><%= in_place_editor_field :contest, :enabled, {}, :rows => 1 %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contest', new_contest_path %>
