<h1>Contest: <%=h @contest.title %></h1>

<div class="infobox">
  <b>Go back to:</b> [<%= link_to 'contest management', :controller => 'contest_management', :action => 'index' %>]
</div>

<p>
  <b>Enabled:</b>
  <%=h @contest.enabled %>
</p>


<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
