- content_for :head do
  = stylesheet_link_tag 'problems'

%h1 Import problems: successful

%p
  %b Problem:
  = "#{@problem.full_name} (#{@problem.name})"
  %br/
  Note that the full score has be assigned to the default value, 100.
  You should change it to the correct full score.

%p
  = link_to '[Back to problem list]', :action => 'list'
  = link_to '[Import other problems]', :action => 'import'

%h3 Import log
%pre.import-log
  = @log
