- content_for :head do
  = stylesheet_link_tag 'problems'

%h1 Import problems: successful

%p
  %b Problem:
  = "#{@problem.full_name} (#{@problem.name})"
  %br/
  = "Note that the full score has been set to #{@problem.full_score}."

%p
  = link_to '[Back to problem list]', problems_path
  = link_to '[Import other problems]', :action => 'import'

%h3 Import log
%pre.import-log
  = @log
