<% for column in Problem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> 
  <%=h @problem.send(column.name) %>
</p>
<% end %>

<p>
<b>Description:</b><br/>
  <% if @problem.description!=nil %>
    <% if @problem.description.markdowned %>
<%= markdown(@problem.description.body) %>
    <% else %>
<pre>
<%= @problem.description.body %>
</pre>
    <% end %>
  <% else %>
    (not available)
  <% end %>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @problem %> |
<%= link_to 'Back', :action => 'list' %>
