= render partial: 'problems/problem_head', locals: {problem: @problem}

.row
  .col-md-8.mb-3
    .card
      .card-body
        %h2.card-title Submission History
        %canvas#chart{height: '50px', data: { controller: 'chart', chart_data_value: @chart_dataset }}

  .col-md-4.mb-3
    .card
      .card-body
        %h2.card-title General Info
        .row.my-2
          .col-sm-6.text-end.text-secondary
            Name
          .col-sm-6{data: {controller: 'problem-name'}}
            = render partial: 'problem_name', locals: {problem: @problem}
            - if @current_user.admin?
              = link_to 'Edit', edit_problem_path(@problem)
              |
              = link_to 'Stat', stat_problem_path(@problem)
        .row.my-2
          .col-sm-6.text-end.text-secondary
            Subs
          .col-sm-6
            = @submissions.count
        .row.my-2
          .col-sm-6.text-end.text-secondary
            Solved/Attempted User
          .col-sm-6
            #{@summary[:solve]}/#{@summary[:attempt]} (#{(@summary[:solve]*100.0/@summary[:attempt]).round(1)}%)

%h2 Submissions
- if @submissions and @submissions.count > 0
  %table#main_table.table.table-condensed.table-striped
    %thead
      %tr
        %th ID
        %th Login
        %th Name
        %th Language
        %th Submitted at
        %th Result
        %th Score
        - if @can_view_ip
          %th IP
    %tbody
      - row_odd,curr = true,''
      - @submissions.each do |sub|
        - next unless sub.user
        - row_odd,curr = !row_odd, sub.user if curr != sub.user
        %tr
          %td= link_to sub.id, submission_path(sub)
          %td= link_to sub.user.login, stat_user_admin_path(sub.user)
          %td= sub.user.full_name
          %td= sub.language.pretty_name
          %td{data: {order: sub.submitted_at}}
            #{sub.submitted_at.strftime('%Y-%m-%d %H:%M')}
            %span.text-secondary (#{time_ago_in_words(sub.submitted_at)} ago)
          %td.grader-comment= sub.grader_comment
          %td.text-end= sub.points
          %td= sub.ip_address
- else
  No submission

:javascript
  window.addEventListener("load", function() {
    $("#main_table").DataTable({
      paging: false
    });
  });

