:css
  .fix-width {
    font-family: "Consolas, Monaco, Droid Sans Mono,Mono, Monospace,Courier"
  }

%h1 Problem stat: #{@problem.name}
%h2 Overview


%table.info
  %thead
    %tr.info-head
      %th Stat
      %th Value
  %tbody
    %tr{class: cycle('info-even','info-odd')}
      %td Submissions
      %td= @submissions.count
    %tr{class: cycle('info-even','info-odd')}
      %td Solved/Attempted User
      %td #{@summary[:solve]}/#{@summary[:attempt]} (#{(@summary[:solve]*100.0/@summary[:attempt]).round(1)}%)

%h2 Submissions Count
= render partial: 'application/bar_graph', locals: { histogram: @histogram }

%h2 Submissions
- if @submissions and @submissions.count > 0
  %table#main_table.table.table-condensed.table-striped
    %thead
      %tr
        %th ID
        %th Login
        %th Name
        %th Submitted_at
        %th Points
        %th comment
        %th IP
    %tbody
      - row_odd,curr = true,''
      - @submissions.each do |sub|
        - next unless sub.user
        - row_odd,curr = !row_odd, sub.user if curr != sub.user
        %tr
          %td= link_to sub.id, submission_path(sub)
          %td= link_to sub.user.login, stat_user_path(sub.user)
          %td= sub.user.full_name
          %td{data: {order: sub.submitted_at}}= time_ago_in_words(sub.submitted_at) + " ago"
          %td= sub.points
          %td.fix-width= sub.grader_comment
          %td= sub.ip_address
- else
  No submission

:javascript
  $("#main_table").DataTable({
    paging: false
  });
