<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_name">Login</label><br/>
<%= text_field 'user', 'login'  %></p>

<p><label for="user_name">Full name</label><br/>
<%= text_field 'user', 'full_name'  %></p>

<p><label for="password">Password</label><br/>
<%= password_field 'user', 'password'  %></p>

<p><label for="password_confirmation">Password (confirm)</label><br/>
<%= password_field 'user', 'password_confirmation'  %></p>

<p><label for="user_email">E-mail</label><br/>
<%= email_field 'user', 'email'  %></p>

<p><label for="user_alias">Alias</label><br/>
<%= text_field 'user', 'alias'  %></p>
<!--[eoform:user]-->

