= simple_form_for @user, url: user_admin_index_path, wrapper: :horizontal_form do |f|
  = f.error_notification
  = f.input :login, label: 'Login'
  = f.input :full_name, label: 'Full name'
  = f.input :password
  = f.input :password_confirmation
  = f.input :email
  = f.input :alias
  = f.input :remark
  = f.input :activated, wrapper: :horizontal_boolean
  = f.input :enabled, wrapper: :horizontal_boolean
  = f.submit class: 'btn btn-primary'
