%h1 Bulk Manage User

= form_tag bulk_manage_user_admin_index_path
.row{data: {controller: 'init-ui-component'} }
  .col-md-6
    .card
      .card-header
        Filter User
      .card-body
        Filtering users whose login match the following MySQL regex
        .form-group
          = label_tag "regex", 'Regex Pattern'
          = text_field_tag "regex", params[:regex], class: 'form-control'
        %p
          Example
        %ul
          %li
            %code root
            matches every user whose login contains "root"
          %li
            %code ^56
            matches every user whose login starts with "56"
          %li
            %code 21$
            matches every user whose login ends with "21"

        .row.row-cols-lg-auto.align-items-center.my-3.g-3
          .col-auto
            = check_box_tag :filter_group, :group, false, class: 'form-check-input'
            = label_tag :filter_group, 'Only users from this group', class: 'form-check-label'
          .col-auto
            = select_tag :filter_group_id, options_from_collection_for_select( Group.all.order('id DESC'), 'id','name',params[:group_id]), class: 'select2', style: 'width: 20em';
  .col-md-6
    .card
      .card-header
        Action
      .card-body
        .row.my-2
          .col-md-6
            = check_box_tag :enabled, true, params[:enabled], class: 'form-check-input'
            = label_tag :enabled,  'Change "Enabled" to', class: 'form-check-label'
          .col-md-3
            = radio_button_tag "enable", 1, params[:enable] == '1', id: 'enable-yes', class: 'form-check-input'
            = label_tag 'enable-yes',  'Yes' , class: 'form-check-label'
          .col-md-3
            = radio_button_tag "enable", 0, params[:enable] == '0', id: 'enable-no', class: 'form-check-input'
            = label_tag 'enable-no',  'No' , class: 'form-check-label'
        .row.my-2
          .col-md-6
            = check_box_tag :gen_password, true, params[:gen_password], class: 'form-check-input'
            = label_tag :gen_password,  'Generate new random password', class: 'form-check-label'
        .row.row-cols-lg-auto.align-items-center.my-3
          .col-auto
            = check_box_tag :add_group, true, params[:add_group], class: 'form-check-input'
            = label_tag :add_group, 'Add users to group', class: 'form-check-label'
          .col-auto
            = select_tag :group_name, options_from_collection_for_select( Group.all.order('id DESC'), 'id','name',params[:group_id]), class: 'select2', style: 'width: 20em';


.row.my-2
  .col-md-12
    = submit_tag "Preview Result", class: 'btn btn-secondary'
- if @users
  .row
    .col-md-12
      - if @action
        %h2 Confirmation
        - if @action[:set_enable]
          .alert.alert-info The following users will be set #{(@action[:enabled] ? 'enable' : 'disable')}.
        - if @action[:gen_password]
          .alert.alert-info The password of the following users will be randomly generated.
        - if @action[:add_group]
          .alert.alert-info The following users will be added to "#{Group.find(params[:group_name]).name}"
  .row
    .col-md-4
      = submit_tag "Perform", class: 'btn btn-primary'
  .row
    .col-md-12
      The pattern matches #{@users.count} following users.
      %br
      - @users.each do |user|
        = user.login
        = ' '
        = user.full_name
        = ' '
        = "(#{user.remark})" if user.remark
        %br


