%h1 Editing user

= form_tag( {:action => 'update', :id => @user}, {class: 'form-horizontal'}) do
  = error_messages_for 'user'
  = render partial: "form"
  .form-group
    .col-md-offset-2.col-md-4
      = submit_tag "Edit", class: 'btn btn-primary'


= link_to 'Show', :action => 'show', :id => @user 
|
= link_to 'Back', :action => ''
