.container-fluid
  .row
    .col-md-6
      %h1 Adding list of users
  .row
    .col-md-6
      = form_with url: create_from_list_user_admin_index_path do |f|
        .row.align-items-center.my-3
          .col-auto
            = f.submit 'Create following users',class: 'btn btn-success my-3'
          .col-auto
            .form-check
              = f.check_box :add_to_group, class: 'form-check-input'
              = f.label :add_to_group, 'Also add these users to the following group', class: 'form-check-label'
          .col-4
            = f.select "group_id", options_from_collection_for_select( Group.all, 'id','name',params[:group_name]), {}, class: 'select2 form-control'
        .row.mb-3
          .col-12
            = f.text_area :user_list, value: nil, class: 'form-control', style: 'height: 30rem'
    .col-md-6
      .card.bg-warning-subtle
        .card-body
          .card-title
            %h4
              .mi.fill help
              Usage
          A user will be created/updated for each line in the text box.
          %ul
            %li
              Each line must be in the following format. A square bracket indicates that the parameter is optional.
              %span.rounded.bg-light.p-1.font-monospace user_id,name[,passwd[,alias[,remark]]]
            %li
              Note that
              %span.rounded.bg-light.p-1.font-monospace passwd, alias
              and
              %span.rounded.bg-light.p-1.font-monospace remark
              is optional.
            %li
              If the users with the same user_id already exists, existing information will be overwritten.
            %li
              When
              %span.rounded.bg-light.p-1.font-monospace  passwd
              or
              %span.rounded.bg-light.p-1.font-monospace alias
              is empty (but not missing), the original value will be used.
          .card-title
            %h5 Example
          %ul
            %li.mb-2
              .rounded.bg-light.p-1.font-monospace user1,Somchai Jaidee
              will create (or update) a user with login "user1" and setting the fullname to "Somchai Jaidee", also setting a random password.
            %li.mb-2
              .rounded.bg-light.p-1.font-monospace user1,Somchai Jaidee,
              will create (or update) a user with login "user1" and and setting the fullname "Somchai Jaidee". No change is made to the password unless this is a new user. If this is a new user, a random password will be generated.

