<h1>User grading results</h1>
<h2>Show scores from latest submission</h2>

<%= render 'submission_range' %>

<p>Latest scores</p>

<table class="info">
<tr class="info-head">
  <th>User</th>
  <th>Name</th>
  <th>Activated?</th>
  <th>Logged in</th>
  <th>Contest(s)</th>
<% @problems.each do |p| %>
  <th><%= p.name %></th>
<% end %>
<th>Total</th>
<th>Passed</th>
</tr>
<% counter = 0 %>
<% @scorearray.each do |sc| %>
  <tr class="<%= (counter %2 ==0) ? "info-even" : "info-odd" %>">
    <% total = 0 %>
    <% num_passed = 0 %>
    <% sc.each_index do |i| %>
      <% if i==0 %>
        <td><%= sc[i].login %></td>
        <td><%= sc[i].full_name %></td>
        <td><%= sc[i].activated %></td>
        <td>
          <%= sc[i].try(:contest_stat).try(:started_at)!=nil ? 'yes' : 'no' %>
	</td>
        <td>
          <%= sc[i].contests.collect {|c| c.name}.join(', ') %>
        </td>
      <% else %>
        <% if sc[i][0] != nil %>
          <td><%= sc[i][0] %></td>
          <% total += sc[i][0] %>
          <% num_passed += 1 if sc[i][1] %>
        <% else %>
          <td>-</td>
        <% end %>
      <% end %>
    <% end %>
    <td><%= total %></td>
    <td><%= num_passed %></td>
  </tr>
  <% counter += 1 %>
<% end %>
</table>
