= f.error_notification
= f.input :name
= f.input :description
- if @current_user.admin?
  = f.input :enabled, disabled: @current_user.admin? == false
- else
  = f.input :enabled, label: 'Enabled (group editor cannot modify Enabled field)', disabled: true
