.contest-title
  %h1
    = "#{Configuration['contest.name']}: #{t 'registration.title'}"

.registration-desc
  =t 'registration.description'

= error_messages_for :user, :header_message => (t 'registration.errors.header')

%table
  - form_for :user, @user, :url => { :action => 'register' } do |f|
    %tr
      %td{:align => "right"}
        = "#{t 'login_label'}:"
      %td= f.text_field :login
    %tr
      %td
      %td 
        %small 
          =t 'registration.login_guide'
    %tr
      %td{:align => "right"}
        = "#{t 'full_name_label'}:"
      %td= f.text_field :full_name
    %tr
      %td{:align => "right"}
        = "#{t 'email_label'}:"
      %td= f.text_field :email
    %tr
      %td
      %td 
        %small
          =t 'registration.email_guide'
    %tr
      %td/
      %td
        = submit_tag((t 'registration.register'), :name => 'commit')
        = submit_tag((t 'cancel'), :name => 'cancel')

