%h2= "Viva Session: ##{@submission.id}"

.row
  .col-lg-8
    %h5= @submission.problem.full_name
    = render partial: 'viva_session', locals: {submission: @submission, turns: @turns, viva_grade: @viva_grade, pending_turn: @pending_turn, finished: @finished}
  .col-lg-4
    .card.shadow-sm.mb-3
      .card-body
        %h4 Viva Info
        .row.mb-2
          .col-5.text-end.text-secondary User
          .col= @submission.user.login
        .row.mb-2
          .col-5.text-end.text-secondary Started
          .col #{time_ago_in_words(@submission.submitted_at)} ago
        .row.mb-2
          .col-5.text-end.text-secondary Status
          .col= @submission.status
        - if @submission.points
          .row.mb-2
            .col-5.text-end.text-secondary Points
            .col #{@submission.points}/100

    - if @current_user.can_edit_problem?(@submission.problem)
      .card.shadow-sm.mb-3
        .card-body
          %h5 Admin
          = button_to 'Re-grade', rejudge_submission_path(@submission),
              class: 'btn btn-warning btn-sm',
              form: {class: 'd-inline', data: {turbo: true}}
