%tr{:class => (test_request_counter%2==0) ? "info-even" : "info-odd"}
  %td.info= test_request_counter +1
  %td.info= test_request.problem.full_name
  %td.info= test_request.submission.number
  %td.info= test_request.status_str
  %td.info= test_request.running_stat or ''
  %td.info
    - if test_request.output_file_name!=nil
      = link_to '[output]', :action => 'read', :id => test_request.id
  %td.info= test_request.grader_comment or ''
  %td.info= test_request.compiler_message or ''
