.container{data: {controller: 'editor', editor_delay_value: 4000, editor_as_binary_value: @as_binary }}
  - unless @as_binary
    -# hidden area that shows the original code
    %textarea#text_sourcecode{style: "display:none", data: {editor_target: 'source'}}~ @submission_source
  .row.mb-2
    .col-lg-8
      = render partial: 'problems/problem_head', locals: {problem: @problem}
      .row
        .col-md-6
          %em
            Limit: 
            #{@problem.live_dataset.time_limit}
            %span.text-body-tertiary>s
            ,
            %span= @problem.live_dataset.memory_limit
            %span.text-body-tertiary>MB
        .col-md-6.text-md-end
          .d-inline-flex.align-items-center.gap-1
            = link_to_description_if_any "<span class='mi md-18'>description</span> Read".html_safe, @problem, class: 'link-flex'
            - if @problem.attachment.attached?
              .d-md-none
              %span.d-none.d-md-inline
                |
              = link_to "<span class='mi md-18'>archive</span> File".html_safe, download_by_type_problem_path(@problem,'attachment'), class: 'link-flex'
            - if @problem.can_view_testcase
              %span
                |
              = link_to "<span class='mi md-18'>bug_report</span> Testcases".html_safe, show_problem_testcases_path(@problem), class: 'link-flex'
  .row
    .col-lg-8
      -# Coding area (or text display for Binary Type)
      %div
        - unless @as_binary
          %div.mb-3#editor{data: {editor_target: 'editor'}, style: 'height: 500px; border-radius: 7px; font-size: 14px;'}
        - else
          - if @last_sub.present?
            :markdown
              * You have already submitted a file at #{@last_sub.submitted_at}.
                * #{link_to 'Download', download_submission_path(@last_sub)} the latest submission
                * #{link_to 'View', problem_submissions_path(@problem)} all submissions for this problem.
          - else
            %ul
              %li You have not submitted any file to this problem.
      -# Form for submit & Language select
      .alert.mb-3{class: (@as_binary ? 'alert-warning' : 'alert-info')}
        .mb-2
          - if @as_binary
            :markdown
              This problem accepts only a binary file upload, such as a `.zip` file. Please select the
              file using the **"Browse"** button and click **"submit."**
          - else
            - if @language_forced
              Write your code in the box above and then click the **"Submit"** button to submit the code. This problem requires that the submission must be in 
              %strong= @language.pretty_name
              only.
            - else
              :markdown
                Write your code in the box above, choose a language, and then click the **"Submit"** button to submit the code.
        = form_with url: submit_main_path, :multipart => true, class: 'row row-cols-lg-auto g-3 align-items-center', data: {action: 'editor#submit'} do |form|
          = hidden_field_tag 'editor_text', @submission_source, data: {editor_target: 'submitSource'}
          = hidden_field_tag 'submission[problem_id]', @problem.id
          .col-auto
            = form.label :language_id, 'Language'
          .col-auto
            - options = options_from_collection_for_select(Language.where(id: @problem.get_permitted_lang_as_ids).order(:id), 'id', 'pretty_name', @language.id )
            = form.select :language_id, options, {},  class: 'form-select', data: {action: 'change->editor#setLanguage', editor_target: 'languageSelect'}, style: "width: 100px", id: 'language_id', disabled: @language_forced
          .col-auto
            = form.file_field :file, class: 'form-control', id: 'load_file', data: {action: 'change->editor#loadFileToEditor'}
          .col-auto
            = submit_tag 'Submit', class: 'btn btn-success', id: 'live_submit', 
              data: {confirm: "Submitting this source code for task #{@problem.long_name}?"}

    .col-lg-4{ data: {turbo: true}}
      -# latest submission status
      .card.mb-3.shadow-sm
        .card-body
          .row.mb-2
            .col-md-12
              %h5 
                Latest Submission Status
                - if @submission
                  = link_to "Refresh",get_latest_submission_status_submissions_path(@submission.user,@problem), id: 'refresh', class: "btn btn-outline-secondary btn-sm", data: {turbo: true, turbo_prefetch: false}
          - if @submission
            = turbo_frame_tag :latest_status,src: get_latest_submission_status_submissions_path(@submission.user,@problem) do
              %div
      -# helpers
      = turbo_frame_tag :problem_helpers do
        = render partial: 'helpers'
