
= form_tag({session: :url })  do
  .submitbox
    %table
      %tr
        %td{colspan: 6, style: 'font-weight: bold'} Query maximum score in submission range
      %tr
        %td{style: 'width: 120px; font-weight: bold'}= param_text
        %td{align: 'right'} since:
        %td= text_field_tag 'since_datetime'
      %tr
        %td
        %td{align: 'right'} until:
        %td= text_field_tag 'until_datetime'
      %tr
        %td
        %td
        %td= submit_tag 'query'

