
= form_tag({session: :url })  do
  .submitbox
    %table
      %tr
        %td{colspan: 6, style: 'font-weight: bold'}= title
      %tr
        %td{style: 'width: 120px; font-weight: bold'}= param_text
        %td{align: 'right'} since:
        %td= text_field_tag 'since_datetime', @since_time
      %tr
        %td
        %td{align: 'right'} until:
        %td= text_field_tag 'until_datetime', @until_time
      %tr
        %td
        %td
        %td Blank mean no condition
      %tr
        %td
        %td
        %td= submit_tag 'query'

