
.task-menu
  Reports
  %br/
  = link_to '[Hall of Fame]', :action => 'problem_hof'
  = link_to '[Struggle]', :action => 'stuck'
  = link_to '[Cheat Detection]', :action => 'cheat_report'
  = link_to '[Cheat Detail]', :action => 'cheat_scruntinize'
  = link_to '[Multiple Login]', :action => 'multiple_login'
