- content_for :header do
  = javascript_include_tag 'new'

%script{:type=>"text/javascript"}
  $(function () {
  $('#since_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  $('#until_datetime').datetimepicker({ showButtonPanel: true, dateFormat: "yy-mm-dd", controlType: "slider"} );
  });


%h1 Login status



.task-menu
  Reports
  %br/
  = link_to '[Submission]', :action => 'submit_stat'
  = link_to '[Login]', :action => 'login_stat'


=render partial: 'date_range', locals: {param_text: 'Submission range:'  }

hahaha

=params[:since_datetime]

%table.info
  %thead
    %tr.info-head
      %th login
      %th full name
      %th login count
      %th earliest
      %th latest
  %tbody
    - @logins.each do |l|
      %tr{class: cycle('info-even','info-odd')}
        %td= l[:login]
        %td= l[:full_name]
        %td= l[:count]
        %td= l[:min]
        %td= l[:max]
      
