.d-flex.flex-column.gap-1.mb-3
  %small.text-secondary.text-uppercase.fw-bold.ls-1 Report
  %h2.fw-bold.text-dark.mb-0 Best Score

= form_with id: 'max-score-filter-form', url: max_score_table_report_path, data: {turbo: true, controller: 'init-ui-component'} do |f|
  .row
    .col-lg-4
      = render partial: 'problem_select'
    .col-lg-4
      = render partial: 'submission_range'
    .col-lg-4
      = render partial: 'user_select'
.text-secondary.small.mb-3.d-flex.align-items-center
  %span.mi.md-18.me-1 sync
  Select filters above, then click Refresh to load data.
.mt-3
  = turbo_frame_tag "max_score_result", data: {turbo: "true"} do
    = render partial: 'score_table', locals: {problems: Problem.none, link_for_data: max_score_query_report_path, refresh_submit_form_id: 'max-score-filter-form' }
