%script{:type => 'text/javascript'}
  var siteList = new Array();
  - @countries.each do |country|
    = "siteList[#{country.id}] = new Array();"
    - country.sites.each do |site| 
      = "siteList[#{country.id}][#{site.id}] = \"#{site.name}\";"

  var allSiteList = new Array();
  - @site_select.each do |sel|
    = "allSiteList[#{sel[1]}]=\"#{sel[0]}\";"

%script{:type => 'text/javascript', :src => '/javascripts/site_update.js'}

%div{ :style => "border: solid 1px gray; padding: 2px; background: #f0f0f0;"}
  %h2 For Site Administrator.

  - if @default_site
    = form_for :login, nil, :url => {:controller => 'login', :action => 'site_login'} do |f|
      %b Log in for default site.
      = f.hidden_field :site_id, :value => @default_site.id
      %br/
      Password:
      = f.password_field :password
      = submit_tag "Site Administrator Login"
 
  - else
    Please select your country and site and login.
    = form_for :login, nil, :url => {:controller => 'login', :action => 'site_login'} do |f|
      Country:
      = select :site_country, :id, @country_select_with_all, {}, {:onchange => "updateSiteList();", :onclick => "updateSiteList();" }
      Site: 
      = select :login, :site_id, @site_select
      %br/
      Password:
      = f.password_field :password
      = submit_tag "Site Administrator Login"

%script{:type => 'text/javascript'}
  updateSiteList();
