
- if submission.nil?
  = "-"
- else
  - if submission.graded_at.nil?
    = t 'main.submitted_at'
    = format_short_time(submission.submitted_at.localtime)
  - else
    = t 'main.graded_at'
    = "#{format_short_time(submission.graded_at.localtime)}, " 
    - if GraderConfiguration['ui.show_score']
      = t 'main.score'
      = "#{(submission.points*100/submission.problem.full_score).to_i} "
    = " [" 
    %tt
      = submission.grader_comment
    = "]"
    - if GraderConfiguration.show_grading_result
      = " | "
      = link_to '[detailed result]', :action => 'result', :id => submission.id
    = " | "
    = link_to("[#{t 'main.cmp_msg'}]", {:action => 'compiler_msg', :id => submission.id}, {:popup => true})
  = " | "
  = link_to("[#{t 'main.src_link'}]",{:action => 'source', :id => submission.id})
  //= " | "
  //= link_to "[#{t 'main.submissions_link'}]", main_submission_path(submission.problem.id)
