<h1>Editing site</h1>

<%= error_messages_for :site %>

<% form_for(@site) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <b>Started</b><br />
    <%= f.check_box :started %>
  </p>

  <p>
    <b>Start time</b><br />
    <%= f.datetime_select :start_time %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
