%h1 New site
= error_messages_for :site
= form_for(@site) do |f|
  %p
    %b Name
    %br/
    = f.text_field :name
  %p
    %b Password
    %br/
    = f.text_field :password
  %p
    %b Started
    %br/
    = f.check_box :started
  %p
    %b Start time
    %br/
    = f.datetime_select :start_time
  %p
    = f.submit "Create"
= link_to 'Back', sites_path
