%h1 Contest management

.infobox

  - if @num_contests>1
    %b Multiple contests:
    = "There are #{@num_contests} contests running."
  - else
    %b Single contest:
  =raw "[#{link_to 'Add/remove contests', :controller => 'contests', :action => 'index'}]"

.infobox
  %b Web interface mode:
  - if GraderConfiguration.analysis_mode?
    Analysis Mode
  - elsif (not GraderConfiguration.contest_mode?) and (not GraderConfiguration.indv_contest_mode?)
    Standard Mode
  - elsif GraderConfiguration.contest_mode?
    Normal Contest Mode
  - else
    Individual Contest Mode

  %br/
  Change mode to:
  =raw "[#{link_to 'Standard', :action => 'change_contest_mode', :id => 'standard'}]"
  =raw "[#{link_to 'Contest', :action => 'change_contest_mode', :id => 'contest'}]"
  =raw "[#{link_to 'Individual Contest', :action => 'change_contest_mode', :id => 'indv-contest'}]"
  =raw "[#{link_to 'Analysis', :action => 'change_contest_mode', :id => 'analysis'}]"

- if GraderConfiguration.indv_contest_mode?
  = render :partial => 'indv_contest_mode_index'

%br/

