%h1 Contest management

.infobox

  - if @num_contests>1
    %b Multiple contests:
    = "There are #{@num_contests} contests running."
  - else
    %b Single contest:
  = "[#{link_to 'Add/remove contests', :controller => 'contests', :action => 'index'}]"

.infobox
  %b Web interface mode:
  - if (not Configuration.contest_mode?) and (not Configuration.indv_contest_mode?)
    standard mode
  - elsif Configuration.contest_mode?
    normal contest mode.
  - else
    individual contest mode.

  %br/
  Change mode to:
  = "[#{link_to 'standard', :action => 'change_contest_mode', :id => 'standard'}]"
  = "[#{link_to 'contest', :action => 'change_contest_mode', :id => 'contest'}]"
  = "[#{link_to 'individual contest', :action => 'change_contest_mode', :id => 'indv-contest'}]"

- if Configuration.indv_contest_mode?
  = render :partial => 'indv_contest_mode_index'

%br/

