<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= Configuration['contest.name'] %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :head %>
</head>
<body>

<div class="userbar">
<%= user_header %>
</div>

<% if flash[:notice]!=nil %><div class="notice-bar"><span class="notice"><%= flash[:notice] %></span></div><% end %>

<%= yield  %>

</body>
</html>
